In [63]:
import pandas as pd
import numpy as np

ds = pd.read_csv('../data/2023_selected_stocks.csv', low_memory=False)
ds.head()

,date,ticker,name,open,close,min,max,avg,quantity,volume,currency,marketType,bdiCode,prazoT,paperSpecification,optionPrice,priceCorrection,paperDueDate,quoteFactor
0,2023-01-02,ABEV3,AMBEVS/A,14.40,14.19,14.02,14.45,14.19,14995900,2.128569e+08,R$,10,2,,ON,0.0,0,99991231,1
1,2023-01-02,BBDC4,BRADESCO,14.90,14.75,14.66,14.99,14.74,24748300,3.650038e+08,R$,10,2,,PN N1,0.0,0,99991231,1
2,2023-01-02,ITUB4,ITAUUNIBANCO,24.43,24.49,24.04,24.53,24.26,23340700,5.664208e+08,R$,10,2,,PN EJ N1,0.0,0,99991231,1
3,2023-01-02,PETR4,PETROBRAS,23.54,22.92,22.80,23.81,23.09,78424700,1.811379e+09,R$,10,2,,PN N2,0.0,0,99991231,1
4,2023-01-02,VALE3,VALE,88.68,89.40,88.53,89.90,89.42,12783800,1.143138e+09,R$,10,2,,ON NM,0.0,0,99991231,1

In [45]:
len(ds)

1100

In [46]:
# Explore types and dataset caracteristics
ds.dtypes

date                   object
ticker                 object
name                   object
open                  float64
close                 float64
min                   float64
max                   float64
avg                   float64
quantity                int64
volume                float64
currency               object
marketType              int64
bdiCode                 int64
prazoT                 object
paperSpecification     object
optionPrice           float64
priceCorrection         int64
paperDueDate            int64
quoteFactor             int64
dtype: object

In [47]:
ds.describe()

,open,close,min,max,avg,quantity,volume,marketType,bdiCode,optionPrice,priceCorrection,paperDueDate,quoteFactor
count,1100.000000,1100.000000,1100.000000,1100.000000,1100.00000,1.100000e+03,1.100000e+03,1100.0,1100.0,1100.0,1100.0,1100.0,1100.0
mean,31.710518,31.693400,31.345764,32.058736,31.69240,3.754174e+07,1.083161e+09,10.0,2.0,0.0,0.0,99991231.0,1.0
std,22.567197,22.519254,22.330667,22.753270,22.53171,2.305202e+07,7.811599e+08,0.0,0.0,0.0,0.0,0.0,0.0
min,12.400000,12.290000,12.280000,12.490000,12.35000,5.236900e+06,7.728633e+07,10.0,2.0,0.0,0.0,99991231.0,1.0
25%,14.670000,14.650000,14.470000,14.840000,14.65750,2.262910e+07,4.818416e+08,10.0,2.0,0.0,0.0,99991231.0,1.0
50%,25.585000,25.620000,25.240000,25.940000,25.56500,3.133565e+07,8.547463e+08,10.0,2.0,0.0,0.0,99991231.0,1.0
75%,32.270000,32.252500,31.865000,32.547500,32.19500,4.434785e+07,1.490788e+09,10.0,2.0,0.0,0.0,99991231.0,1.0
max,97.850000,98.000000,96.390000,98.290000,97.41000,2.378911e+08,6.619017e+09,10.0,2.0,0.0,0.0,99991231.0,1.0

In [51]:
ds.nunique()

date                   220
ticker                   5
name                     5
open                   807
close                  821
min                    815
max                    826
avg                    825
quantity              1098
volume                1100
currency                 1
marketType               1
bdiCode                  1
prazoT                   1
paperSpecification       9
optionPrice              1
priceCorrection          1
paperDueDate             1
quoteFactor              1
dtype: int64

In [15]:
# Check if there is any duplicates
print(ds.duplicated().any())
print(ds.duplicated().sum())

date                  0
ticker                0
name                  0
open                  0
close                 0
min                   0
max                   0
avg                   0
quantity              0
volume                0
currency              0
marketType            0
bdiCode               0
prazoT                0
paperSpecification    0
optionPrice           0
priceCorrection       0
paperDueDate          0
quoteFactor           0
dtype: int64

In [27]:
# Check if there is any nulls or non values in the dataset
print(ds.isnull().sum())
print(ds.isna().sum())

date                       0
ticker                     0
name                       0
open                       0
close                      0
min                        0
max                        0
avg                        0
quantity                   0
volume                     0
currency                   0
marketType                 0
bdiCode                    0
prazoT                364622
paperSpecification         0
optionPrice                0
priceCorrection            0
paperDueDate               0
quoteFactor                0
dtype: int64

## Still in process
We can observe that the column PrazoT has definetly some empty values. It is ignoring the is null or nan because there saving a space. We can see that if we check directly the csv file. Also, we can see that in the column optionPrice most of the values are 0, which taking into account that it might or not exist that 0 it's consider as a nan or null.

In [22]:
# Replace prazo with nan values
ds['prazoT'].str.strip().eq('').sum()
ds['prazoT'] = ds['prazoT'].replace(r'^\s*$', np.nan, regex=True)

In [23]:
ds.isna().sum()

date                       0
ticker                     0
name                       0
open                       0
close                      0
min                        0
max                        0
avg                        0
quantity                   0
volume                     0
currency                   0
marketType                 0
bdiCode                    0
prazoT                364622
paperSpecification         0
optionPrice                0
priceCorrection            0
paperDueDate               0
quoteFactor                0
dtype: int64

In [ ]:
ds['prazoT'].str.strip().eq('').sum()

Delete all;

currency,1
marketType,1
bdiCode,1
prazoT,1
paperSpecification,9
optionPrice,1
priceCorrection,1
paperDueDate,1
quoteFactor,1

In [64]:
ds.drop(columns=['currency','marketType','bdiCode','prazoT','paperSpecification','optionPrice', 'priceCorrection','paperDueDate', 'quoteFactor'], inplace=True)

In [65]:
ds.head()

,date,ticker,name,open,close,min,max,avg,quantity,volume
0,2023-01-02,ABEV3,AMBEVS/A,14.40,14.19,14.02,14.45,14.19,14995900,2.128569e+08
1,2023-01-02,BBDC4,BRADESCO,14.90,14.75,14.66,14.99,14.74,24748300,3.650038e+08
2,2023-01-02,ITUB4,ITAUUNIBANCO,24.43,24.49,24.04,24.53,24.26,23340700,5.664208e+08
3,2023-01-02,PETR4,PETROBRAS,23.54,22.92,22.80,23.81,23.09,78424700,1.811379e+09
4,2023-01-02,VALE3,VALE,88.68,89.40,88.53,89.90,89.42,12783800,1.143138e+09

In [55]:
data = pd.read_csv('../data/base/2023.csv', low_memory=False)

data['ticker'].isin(['IBOVE116']).sum()

np.int64(17)

In [58]:
data['date'].unique()

array([20230102, 20230103, 20230104, 20230105, 20230106, 20230109,
       20230110, 20230111, 20230112, 20230113, 20230116, 20230117,
       20230118, 20230119, 20230120, 20230123, 20230124, 20230125,
       20230126, 20230127, 20230130, 20230131, 20230201, 20230202,
       20230203, 20230206, 20230207, 20230208, 20230209, 20230210,
       20230213, 20230214, 20230215, 20230216, 20230217, 20230222,
       20230223, 20230224, 20230227, 20230228, 20230301, 20230302,
       20230303, 20230306, 20230307, 20230308, 20230309, 20230310,
       20230313, 20230314, 20230315, 20230316, 20230317, 20230320,
       20230321, 20230322, 20230323, 20230324, 20230327, 20230328,
       20230329, 20230330, 20230331, 20230403, 20230404, 20230405,
       20230406, 20230410, 20230411, 20230412, 20230413, 20230414,
       20230417, 20230418, 20230419, 20230420, 20230424, 20230425,
       20230426, 20230427, 20230428, 20230502, 20230503, 20230504,
       20230505, 20230508, 20230509, 20230510, 20230511, 20230512,
       20230515, 20230516, 20230517, 20230518, 20230519, 20230522,
       20230523, 20230524, 20230525, 20230526, 20230529, 20230530,
       20230531, 20230601, 20230602, 20230605, 20230606, 20230607,
       20230609, 20230612, 20230613, 20230614, 20230615, 20230616,
       20230619, 20230620, 20230621, 20230622, 20230623, 20230626,
       20230627, 20230628, 20230629, 20230630, 20230703, 20230704,
       20230705, 20230706, 20230707, 20230710, 20230711, 20230712,
       20230713, 20230714, 20230717, 20230718, 20230719, 20230720,
       20230721, 20230724, 20230725, 20230726, 20230727, 20230728,
       20230731, 20230801, 20230802, 20230803, 20230804, 20230807,
       20230808, 20230809, 20230810, 20230811, 20230814, 20230815,
       20230816, 20230817, 20230818, 20230821, 20230822, 20230823,
       20230824, 20230825, 20230828, 20230829, 20230830, 20230831,
       20230901, 20230904, 20230905, 20230906, 20230908, 20230911,
       20230912, 20230913, 20230914, 20230915, 20230918, 20230919,
       20230920, 20230921, 20230922, 20230925, 20230926, 20230927,
       20230928, 20230929, 20231002, 20231003, 20231004, 20231005,
       20231006, 20231009, 20231010, 20231011, 20231013, 20231016,
       20231017, 20231018, 20231019, 20231020, 20231023, 20231024,
       20231025, 20231026, 20231027, 20231030, 20231031, 20231101,
       20231103, 20231106, 20231107, 20231108, 20231109, 20231110,
       20231113, 20231114, 20231116, 20231117])

In [59]:
ds['date'].unique()

array(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
       '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11',
       '2023-01-12', '2023-01-13', '2023-01-16', '2023-01-17',
       '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-23',
       '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27',
       '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02',
       '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08',
       '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14',
       '2023-02-15', '2023-02-16', '2023-02-17', '2023-02-22',
       '2023-02-23', '2023-02-24', '2023-02-27', '2023-02-28',
       '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06',
       '2023-03-07', '2023-03-08', '2023-03-09', '2023-03-10',
       '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16',
       '2023-03-17', '2023-03-20', '2023-03-21', '2023-03-22',
       '2023-03-23', '2023-03-24', '2023-03-27', '2023-03-28',
       '2023-03-29', '2023-03-30', '2023-03-31', '2023-04-03',
       '2023-04-04', '2023-04-05', '2023-04-06', '2023-04-10',
       '2023-04-11', '2023-04-12', '2023-04-13', '2023-04-14',
       '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
       '2023-04-24', '2023-04-25', '2023-04-26', '2023-04-27',
       '2023-04-28', '2023-05-02', '2023-05-03', '2023-05-04',
       '2023-05-05', '2023-05-08', '2023-05-09', '2023-05-10',
       '2023-05-11', '2023-05-12', '2023-05-15', '2023-05-16',
       '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-22',
       '2023-05-23', '2023-05-24', '2023-05-25', '2023-05-26',
       '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01',
       '2023-06-02', '2023-06-05', '2023-06-06', '2023-06-07',
       '2023-06-09', '2023-06-12', '2023-06-13', '2023-06-14',
       '2023-06-15', '2023-06-16', '2023-06-19', '2023-06-20',
       '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-26',
       '2023-06-27', '2023-06-28', '2023-06-29', '2023-06-30',
       '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06',
       '2023-07-07', '2023-07-10', '2023-07-11', '2023-07-12',
       '2023-07-13', '2023-07-14', '2023-07-17', '2023-07-18',
       '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-24',
       '2023-07-25', '2023-07-26', '2023-07-27', '2023-07-28',
       '2023-07-31', '2023-08-01', '2023-08-02', '2023-08-03',
       '2023-08-04', '2023-08-07', '2023-08-08', '2023-08-09',
       '2023-08-10', '2023-08-11', '2023-08-14', '2023-08-15',
       '2023-08-16', '2023-08-17', '2023-08-18', '2023-08-21',
       '2023-08-22', '2023-08-23', '2023-08-24', '2023-08-25',
       '2023-08-28', '2023-08-29', '2023-08-30', '2023-08-31',
       '2023-09-01', '2023-09-04', '2023-09-05', '2023-09-06',
       '2023-09-08', '2023-09-11', '2023-09-12', '2023-09-13',
       '2023-09-14', '2023-09-15', '2023-09-18', '2023-09-19',
       '2023-09-20', '2023-09-21', '2023-09-22', '2023-09-25',
       '2023-09-26', '2023-09-27', '2023-09-28', '2023-09-29',
       '2023-10-02', '2023-10-03', '2023-10-04', '2023-10-05',
       '2023-10-06', '2023-10-09', '2023-10-10', '2023-10-11',
       '2023-10-13', '2023-10-16', '2023-10-17', '2023-10-18',
       '2023-10-19', '2023-10-20', '2023-10-23', '2023-10-24',
       '2023-10-25', '2023-10-26', '2023-10-27', '2023-10-30',
       '2023-10-31', '2023-11-01', '2023-11-03', '2023-11-06',
       '2023-11-07', '2023-11-08', '2023-11-09', '2023-11-10',
       '2023-11-13', '2023-11-14', '2023-11-16', '2023-11-17'],
      dtype=object)