In [1]:
from importlib import reload
import src.preprocessing_pipeline

reload(src.preprocessing_pipeline)

from src.preprocessing_pipeline import DataPreprocessor

chosen_tickers = [
    'PETR4', 'VALE3', 'ITUB4', 'BBDC4', 'ABEV3', 'BBAS3', 'GGBR4', 'BRAP4', 'LREN3', 'MGLU3',
    'B3SA3', 'WEGE3', 'JBSS3', 'SUZB3', 'RADL3', 'ELET3', 'ELET6', 'SANB11', 'RENT3', 'RAIL3',
    'VIVT4', 'KLBN11', 'HYPE3', 'CSAN3', 'UGPA3', 'BRFS3', 'BRKM5', 'CIEL3', 'TOTS3', 'ENBR3'
]


preprocessor = DataPreprocessor(tickers=chosen_tickers)
processed_df = preprocessor.run_pipeline()
processed_df.head()

Loading ../data/base/2019_brazil_stocks.csv...
Loading ../data/base/2020_brazil_stocks.csv...
Loading ../data/base/2021_brazil_stocks.csv...
Loading ../data/base/2022_brazil_stocks.csv...
Loading ../data/base/2023_brazil_stocks.csv...
[debug] Unique tickers after filter: ['ABEV3' 'B3SA3' 'BBAS3' 'BBDC4' 'BRAP4' 'BRFS3' 'BRKM5' 'CIEL3' 'CSAN3'
 'ELET3' 'ELET6' 'ENBR3' 'GGBR4' 'HYPE3' 'ITUB4' 'JBSS3' 'KLBN11' 'LREN3'
 'MGLU3' 'PETR4' 'RADL3' 'RAIL3' 'RENT3' 'SANB11' 'SUZB3' 'TOTS3' 'UGPA3'
 'VALE3' 'VIVT4' 'WEGE3']
[load_data] All chosen tickers are present in the final DataFrame.
Data saved successfully to ../data/2019-2023_stock_with_features_dif_tickers.csv

,date,ticker,open,close,min,max,avg,quantity,volume,ibovespa_close,day_of_week,daily_return,price_range,volume_per_quantity,target,rolling_close_5,rolling_std_5,rolling_return_5,momentum_5,rolling_volume_5
0,2019-01-02,ABEV3,15.40,16.15,15.40,16.30,15.95,18692900,298201954.0,91012.0,3,0.048701,0.90,15.952685,16.33,NaN,NaN,NaN,NaN,NaN
29,2019-01-02,WEGE3,17.62,17.98,17.50,18.18,17.96,2375600,42688569.0,91012.0,3,0.020431,0.68,17.969595,18.39,NaN,NaN,NaN,NaN,NaN
28,2019-01-02,VIVT4,46.24,47.18,46.14,47.95,47.30,2075700,98200360.0,91012.0,3,0.020329,1.81,47.309515,47.60,NaN,NaN,NaN,NaN,NaN
27,2019-01-02,VALE3,50.01,51.09,49.79,51.37,50.66,17319600,877485830.0,91012.0,3,0.021596,1.58,50.664324,49.00,NaN,NaN,NaN,NaN,NaN
26,2019-01-02,UGPA3,53.20,54.34,52.60,55.42,54.29,1736800,94303444.0,91012.0,3,0.021429,2.82,54.297239,53.33,NaN,NaN,NaN,NaN,NaN